body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.logo {
  width: 200px;
  height: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}